# This file specifies the default values if none is given by specific environment variables like:
# (Using Linux)
# $ REACT_APP_VAR=value npm start
# (Using Windows)
# $ set "REACT_APP_NOT_SECRET_CODE=abcdef" && npm start
REACT_APP_VERSION=$npm_package_version

REACT_APP_RHSSO_REALM="kie-realm"
REACT_APP_RHSSO_CLIENT="reactapp"